{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/friends.css' %}">

        <title>Friend List</title>
    </head>
    <body>
        <div class="background-container">
            {% if page_obj %}
                <h2 class="heading">Friends List</h2>
                <div class="friends-list">
                    {% for friend in page_obj %}
                    <div class="friendship-card">
                        {% if friend.from_user.username == user.username %}
                            <p>{{ friend.to_user }}</p>
                        {% else %}
                            <p>{{ friend.from_user }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <!-- Pagination controls -->
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; First</a>
                            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p>No results found </p>
            {% endif %}
            <a href="{% url 'home' %}">Back to home</a>
        </div>
    </body>
</html>